html {
 	margin: 0;
 	padding: 0;
  	box-sizing: border-box;
}
body {
	font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    color: #24292e;
}
article {
	max-width: 768px;
	padding: 45px;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3 {
	padding-bottom: 0.3em;
	border-bottom: 1px solid #ddd;
	font-weight: 600;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.25em;
}
p {
    margin-top: 5px;
	margin-bottom: 15px;
}
a {
	color: steelblue;
	text-decoration: none;
}
button, input, select {
	font-size: 14px;
	line-height: 1.5;
}
label {
	font-size: 85%;
	font-weight: 600;
}
pre {
	padding: 15px;
	margin: 0;
	border-radius: 3px;
	font-size: 85%;
	line-height: 1.45;
	background-color: lavender;
    font-family: Courier, monospace;
    overflow: auto;
}
code {
	line-height: 1.45;
	background-color: lavender;
    font-family: Courier, monospace;
}
small {
	font-size: 80%;
	color: #333;
}